{% extends 'base.html' %} 
 
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>check out</title> 
</head> 
<body> 
     
    {% block content %} 
    <h2>Shopping Cart</h2> 
    <ul> 
        {% for item in order_items %} 
            <li> 
                <strong>{{ item.product.name }}</strong> - {{ item.quantity }} 
            </li> 
        {% empty %} 
            <li>Cart is empty.</li> 
        {% endfor %} 
    </ul> 
    <p>Total Price: {{ order.total_price }}</p> 
    <a href="{% url 'checkout' %}">Checkout</a> 
{% endblock %} 
 
 
</body> 
</html>