<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Welcome, {{ user.username }}</h1>
            </div>
            <div class="card-body">
                <h2>Your Bookings</h2>
                <ul class="list-group">
                    {% for booking in bookings %}
                        <li class="list-group-item">
                            {{ booking.user.username }} booked on {{ booking.date }} at {{ booking.time }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
