{% extends 'base.html' %} 
 
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>home</title> 
</head> 
<body> 
     
    {% block content %} 
    <ul> 
        {% for product in products %} 
            <li> 
                <a href="{% url 'product_detail' product.id %}"> 
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:200px; height:auto;"> 
                    {{ product.name }} 
                </a> 
            </li> 
        {% empty %} 
            <li>No products found.</li> 
        {% endfor %} 
    </ul> 
{% endblock %} 
 
 
</body> 
</html>